<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>授权</title>
    <script th:inline="javascript">
        let total = 5 * 1000; //5秒关闭
        let interval;
        function clock() {
            total -= 1000;
            document.getElementById('time').innerText = parseInt(total) / 1000
            if(total <= 0) {
                window.clearInterval(interval)
                WeixinJSBridge.invoke('closeWindow',{},function(res){
                });
            }
        }
        window.onload = function () {
            if('success' == [[${status}]]){
                interval = setInterval('clock()', 1000);
            }
        }
    </script>
</head>
<body style="text-align: center;">
    <h2 th:if="${#strings.equals('success', status)}" style="margin-top: 50px; color: #28a745;">授权完成</h2>
    <h2 th:if="${#strings.equals('fail', status)}" style="margin-top: 50px; color: #dc3545;">授权失败</h2>
    <h3 th:if="${#strings.equals('success', status)}" style="color: #ffc107;">自动关闭：<span id="time" style="color: #a07905">5</span></h3>
</body>
</html>