<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{LayoutFile :: layout(~{::head}, ~{::div}, 'message-group')}">
<head th:replace="component/CommonHead::common_header(~{::title},~{},~{::script})">
    <title>消息发送(组) - PaoPao</title>
    <script th:inline="javascript">
        function sendMessage() {
            const token = $('#inputToken').val();
            const message = $('#inputMessage').val();
            const groupUid = $('#inputGroupUid').val();
            const link = $('#inputLink').val();
            const type = $('#inputType').val();
            if (!token) {
                alert('请输入您的token')
            }
            if (!groupUid) {
                alert('请输入您的groupUid')
            }
            if (!message) {
                alert('请输入要发送的消息')
            }
            const encodeMessage = encodeURI(message);
            $.post([[@{/}]]+token+'/sendToGroup/'+groupUid+'?msg='+encodeMessage + '&type='+type+'&link='+link, {}, function (data) {
                $('#sendInfo').removeClass('text-success');
            $('#sendInfo').removeClass('text-danger');
            $('#sendInfo').html('');
            if (data.code === 0) {
                $('#sendInfo').addClass('text-success');
                $('#sendInfo').html('消息发送成功');
            } else {
                $('#sendInfo').addClass('text-danger');
                $('#sendInfo').html(data.msg);
            }
            }, 'json' );
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col-lg-8 col">
        <div class="p-4 rounded" style="background-color: #d6dce2;">
            <div class="form-group">
                <h4>消息发送</h4>
                <label for="inputToken">Token（发送方）</label>
                <input type="text" class="form-control" id="inputToken" placeholder="您的token值">
            </div>
            <div class="form-group">
                <label for="inputGroupUid">组id（接收组）</label>
                <input type="text" class="form-control" id="inputGroupUid" placeholder="接收组的id">
            </div>
            <div class="form-group">
                <label for="inputMessage">消息</label>
                <textarea class="form-control" id="inputMessage" placeholder="消息内容"></textarea>
            </div>
            <div class="form-group">
                <label for="inputType">类型</label>
                <input type="text" class="form-control" id="inputType" placeholder="(非必须)发送消息的类型">
            </div>
            <div class="form-group">
                <label for="inputLink">链接</label>
                <input type="text" class="form-control" id="inputLink" placeholder="(非必须)要跳转的地址">
            </div>
            <button type="button" onclick="sendMessage()" class="btn btn-primary">发送</button>
            <span id="sendInfo" class="ml-3"></span>
        </div>
        <div class="mt-4">
            <div>消息发送接口：</div>
            <div class="alert alert-info my-3" style="max-width: 650px;">
                [[${host}]]/{token}/sendToGroup/{groupUid}?msg={message}&type={type}&link={link}
            </div>
            <p>接收两个参数：</p>
            <ul>
                <li><p>token：发送方的token值，登陆控制台之后可以看到。</p></li>
                <li><p>groupUid：接收组的id值，登陆控制台之后可以看到。</p></li>
                <li><p>message：要发送的消息内容。（注意：如果您是使用url拼接，需要对message进行urlencode）</p></li>
                <li><p>type：消息类型，默认为空表示使用模版消息发送，（KF）使用客服消息发送。</p></li>
                <li><p>link：携带的链接地址。（注意：如果您是使用url拼接，需要对link进行urlencode）</p></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col">
    </div>
</div>
</body>
</html>